# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/amx_erp?schema=public"
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=amx_erp
DB_PORT=5432

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# pgAdmin
PGADMIN_EMAIL=admin@amx-erp.com
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050

# JWT
JWT_SECRET=super-secret-key-change-me-in-production

# API
PORT=3001
NEXT_PUBLIC_API_URL=http://localhost:3001
